:host {
  background-color: rgba($color: #222, $alpha: 0.7);
  border-radius: 5px;
  padding: 10px;

  p {
    font-size: 12px;
    font-weight: bold;
  }

  a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;
    color: white;

    i,
    img {
      border: none;
      font-size: 32px;
      width: 32px;
      height: 32px;
      outline-width: 0;
    }
  }

  h1 {
    text-align: center;
  }
}
