<h1 class="title">
  <i class="bi bi-info-circle"></i> {{ 'MENU.ABOUT' | translate }}
</h1>
<div class="content">
  <h2>
    {{ 'MENU.HOME' | translate }}
  </h2>
  <p>
    {{ 'COMMON.DATASTRO' | translate }}
    <a
      href="https://www.datastro.eu/"
      title="{{ 'COMMON.DATASTRO' | translate }}"
      >[ https://www.datastro.eu/ ]</a
    >
  </p>
  <p>
    {{ 'COMMON.HYGMAP' | translate }}
    <a
      href="http://hygmap.space/index.php"
      title="{{ 'COMMON.HYGMAP' | translate }}"
      >[ http://hygmap.space/index.php ]
    </a>
  </p>
  <p>
    {{ 'COMMON.GITHUB' | translate }}
    <a
      href="https://github.com/omanoel/stars-traveller"
      title="{{ 'COMMON.GITHUB' | translate }}"
      >[ https://github.com/omanoel/stars-traveller ]</a
    >
  </p>
</div>
<div class="footer"></div>
