<div class="tooltip" *ngIf="isVisible()">
  <div *ngIf="expanded" class="expanded">
    <p class="property" *ngFor="let prop of model.selectedCatalog.properties">
      <span class="key" title="{{ prop.tooltip }}">{{ prop.key }}</span>:
      <span class="value">
        {{ getValue(model.lastStarIntersected.userData.starProp, prop) }}
      </span>
    </p>
  </div>
  <div class="expandable">
    <div class="icone">
      <div class="arrow-right icon" *ngIf="expanded" (click)="expanded = !expanded"
        title="{{ 'COMMON.COLLAPSE' | translate }}"></div>
      <div class="arrow-left icon" *ngIf="!expanded" (click)="expanded = !expanded"
        title="{{ 'COMMON.EXPAND' | translate }}"></div>
    </div>
  </div>
</div>
