<div class="tooltip" *ngIf="lastStarIntersected && lastStarIntersected.userData.hyg">
  <p *ngFor="let key of objectKeys(tooltip)">
    <strong title="{{ getTitle(key) }}">{{key}}</strong>:&nbsp;{{ getValue(lastStarIntersected.userData.hyg, key) }} <a
      *ngIf="getLink(lastStarIntersected.userData.hyg, key) !== null"
      href="{{ getLink(lastStarIntersected.userData.hyg, key) }}" target="_new">Open</a>&nbsp;{{ getUnit(key) }}
  </p>
  <p class="action">[&nbsp;<a *ngIf="!isHelpVisible" (click)="seeHelp(true)">Show help for params</a><a
      *ngIf="isHelpVisible" (click)="seeHelp(false)">Hide help for params</a>&nbsp;]</p>
</div>
<div class="tooltip-help" *ngIf="isHelpVisible">
  <p>From <a href="https://github.com/astronexus/HYG-Database">https://github.com/astronexus/HYG-Database</a></p>
  <ul>
    <li>id: The database primary key.</li>
    <li>hip: The star's ID in the Hipparcos catalog, if known.</li>
    <li>hd: The star's ID in the Henry Draper catalog, if known.</li>
    <li>hr: The star's ID in the Harvard Revised catalog, which is the same as its number in the Yale Bright Star
      Catalog.</li>
    <li>gl: The star's ID in the third edition of the Gliese Catalog of Nearby Stars.</li>
    <li>bf: The Bayer / Flamsteed designation, primarily from the Fifth Edition of the Yale Bright Star Catalog. This is
      a combination of the two designations. The Flamsteed number, if present, is given first; then a three-letter
      abbreviation for the Bayer Greek letter; the Bayer superscript number, if present; and finally, the three-letter
      constellation abbreviation. Thus Alpha Andromedae has the field value "21Alp And", and Kappa1 Sculptoris (no
      Flamsteed number) has "Kap1Scl".</li>
    <li>ra, dec: The star's right ascension and declination, for epoch and equinox 2000.0.</li>
    <li>proper: A common name for the star, such as "Barnard's Star" or "Sirius". I have taken these names primarily
      from the Hipparcos project's web site, which lists representative names for the 150 brightest stars and many of
      the 150 closest stars. I have added a few names to this list. Most of the additions are designations from catalogs
      mostly now forgotten (e.g., Lalande, Groombridge, and Gould ["G."]) except for certain nearby stars which are
      still best known by these designations.</li>
    <li>dist: The star's distance in parsecs, the most common unit in astrometry. To convert parsecs to light years,
      multiply by 3.262. A value >= 10000000 indicates missing or dubious (e.g., negative) parallax data in Hipparcos.
    </li>
    <li>pmra, pmdec: The star's proper motion in right ascension and declination, in milliarcseconds per year.</li>
    <li>rv: The star's radial velocity in km/sec, where known.</li>
    <li>mag: The star's apparent visual magnitude.</li>
    <li>absmag: The star's absolute visual magnitude (its apparent magnitude from a distance of 10 parsecs).</li>
    <li>spect: The star's spectral type, if known.</li>
    <li>ci: The star's color index (blue magnitude - visual magnitude), where known.</li>
    <li>x,y,z: The Cartesian coordinates of the star, in a system based on the equatorial coordinates as seen from
      Earth. +X is in the direction of the vernal equinox (at epoch 2000), +Z towards the north celestial pole, and +Y
      in the direction of R.A. 6 hours, declination 0 degrees.</li>
    <li>vx,vy,vz: The Cartesian velocity components of the star, in the same coordinate system described immediately
      above. They are determined from the proper motion and the radial velocity (when known). The velocity unit is
      parsecs per year; these are small values (around 1 millionth of a parsec per year), but they enormously simplify
      calculations using parsecs as base units for celestial mapping.</li>
    <li>rarad, decrad, pmrarad, prdecrad: The positions in radians, and proper motions in radians per year.</li>
    <li>bayer: The Bayer designation as a distinct value</li>
    <li>flam: The Flamsteed number as a distinct value</li>
    <li>con: The standard constellation abbreviation</li>
    <li>comp, comp_primary, base: Identifies a star in a multiple star system. comp = ID of companion star, comp_primary
      = ID of primary star for this component, and base = catalog ID or name for this multi-star system. Currently only
      used for Gliese stars.</li>
    <li>lum: Star's luminosity as a multiple of Solar luminosity.</li>
    <li>var: Star's standard variable star designation, when known.</li>
    <li>var_min, var_max: Star's approximate magnitude range, for variables. This value is based on the Hp magnitudes
      for the range in the original Hipparcos catalog, adjusted to the V magnitude scale to match the "mag" field."</li>
  </ul>
  <p class="close-me" (click)="seeHelp(false)">[x] Close me</p>
</div>
