.tooltip {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 5px;
    ul {
        list-style-type:none;
        padding: 0px;
        margin: 0px;

        li {
            span {
                &.key {
                    font-weight: bold;
                }
            }
        }
    }
}