<h1 class="title">
  <i class="bi bi-graph-up"></i> {{ 'MENU.CHARTS' | translate }}
</h1>
<div class="content">
  <div class="quarter">
    <p>
      <label for="xAxis"
        >{{ 'CHARTS.X_AXIS' | translate }}
        <select
          id="xAxis"
          #xAxisSelect
          (change)="selectXAxis(xAxisSelect.value)"
        >
          <option
            *ngFor="let prop of properties"
            [value]="prop"
            [selected]="prop === xProp"
          >
            {{ prop }}
          </option>
        </select></label
      ><button (click)="addFilterOnX()">
        {{ 'CHARTS.X_AXIS_FILTER' | translate }}
      </button>
    </p>
    <p>
      <label for="yAxis"
        >{{ 'CHARTS.Y_AXIS' | translate }}
        <select
          id="yAxis"
          #yAxisSelect
          (change)="selectYAxis(yAxisSelect.value)"
        >
          <option
            *ngFor="let prop of properties"
            [value]="prop"
            [selected]="prop === yProp"
          >
            {{ prop }}
          </option>
        </select></label
      ><button (click)="addFilterOnY()">
        {{ 'CHARTS.Y_AXIS_FILTER' | translate }}
      </button>
    </p>
  </div>
  <div class="quarter">
    <p>
      <button (click)="addFilterOnXY()">
        {{ 'CHARTS.XY_AXIS_FILTER' | translate }}
      </button>
    </p>
    <p>
      <button (click)="resetAllFilters()">
        {{ 'CHARTS.RESET_FILTERS' | translate }}
      </button>
    </p>
  </div>
  <div class="quarter">
    <p>{{ model.objectsFiltered.length }} {{ 'CHARTS.STARS' | translate }}</p>
  </div>
  <div class="quarter">
    <p *ngFor="let filter of arrayFilters">
      {{ filter[0] }} : [{{ filter[1] }} / {{ filter[2] }}]
    </p>
  </div>
  <div
    echarts
    [options]="options"
    (chartDataZoom)="onChartEvent($event, 'chartDataZoom')"
    class="echarts"
  ></div>
</div>
<div class="footer"></div>
