body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 0.7em;
    overflow: hidden;
    font-family: 'Open Sans';
}

app-root {
    display: block;
    width: 95%;
    height: 95%;
}
