:host {
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  overflow-x: auto;
}

.catalogs {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 5px;

  .catalog {
    margin-bottom: 3px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    position: relative;

    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      border-color: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.3);
    }

    .custom-control-label {
      font-size: 12px;
      cursor: pointer;
      margin-right: 24px;
    }

    .options {
      position: absolute;
      font-size: 18px;
      right: 5px;
      width: 20px;
      height: 20px;
    }
  }

  .near-detection {
    width: 50px;
    margin: 5px;
  }

  .date-max {
    width: 100px;
    margin: 5px;
  }
}

.navigate {
  text-align: center;

  a {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 3px;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
