<app-map [model]="threeComponentModel"></app-map>
<div class="loader" *ngIf="threeComponentModel.average != ''">
  <div class="loading">{{ 'COMMON.LOADING_STARS' | translate }}</div>
  <img class="rotate" src="./assets/textures/lensflare0_alpha.png">
</div>
<app-search [model]="threeComponentModel"></app-search>
<app-tooltip [model]="threeComponentModel"></app-tooltip>
<app-indicators [model]="threeComponentModel"></app-indicators>
<div class="github">
  <a (click)="toggleSearch()" title="{{ 'COMMON.OPTIONS' | translate }}"><img src="./assets/options.png" /></a>
  <a (click)="displayHelp(true)" title="{{ 'COMMON.HOW_TO_NAVIGATE' | translate }}"><img src="./assets/help.png" /></a>
  <a href="https://www.datastro.eu/" title="{{ 'COMMON.DATASTRO' | translate }}"><img src="./assets/datastro.svg" /></a>
  <a href="https://github.com/omanoel/stars-traveller" title="{{ 'COMMON.GITHUB' | translate }}"><img
      src="./assets/GitHub-Mark-Light-32px.png" /></a>
</div>
<div class="help" *ngIf="isHelpDisplayed">
  <p>* {{ 'NAVIGATE.ROTATE' | translate }}</p>
  <p>* {{ 'NAVIGATE.TRANSLATE' | translate }}</p>
  <p>* {{ 'NAVIGATE.ZOOM' | translate }}</p>
  <p>* {{ 'NAVIGATE.GOTO' | translate }}</p>
  <p class="close"><a (click)="displayHelp(false)">{{ 'COMMON.CLOSE' | translate }}</a></p>
</div>
