.loader {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  text-align: center;
  z-index: 50;

  .loading {
    position: absolute;
    top: 350px;
    left: 40%;
    width: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;

    .error {
      font-size: 14px;
      font-weight: bold;
      color: red;
    }
  }
}

.github {
  position: absolute;
  right: 10px;
  bottom: 10px;

  a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;

    img {
      border: none;
      width: 32px;
      height: 32px;
      outline-width: 0;
    }
  }
}

.help {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 25%;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;

  .close {
    text-align: center;

    a {
      cursor: pointer;
    }
  }
}

.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
