.loader {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  text-align: center;
}

.github {
  position: absolute;
  right: 10px;
  bottom: 10px;

  a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;

    img {
      border: none;
      width: 32px;
      height: 32px;
      outline-width: 0;
    }
  }
}

.help {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 25%;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;

  .close {
    text-align: center;

    a {
      cursor: pointer;
    }
  }
}
