<app-map [model]="threeComponentModel"></app-map>
<app-search [model]="threeComponentModel"></app-search>
<div class="loader" *ngIf="threeComponentModel.average != ''">
  {{ threeComponentModel.average }} loaded<br>
  <img src="./assets/textures/lensflare0.png">
</div>
<div class="github">
  <a (click)="displayHelp(true)" title="How to navigate..."><img src="./assets/help.png" /></a>
  <a href="https://www.datastro.eu/" title="Visit this awesome website"><img src="./assets/datastro.svg" /></a>
  <a href="https://github.com/omanoel/stars-traveller" title="Source of this open project"><img
      src="./assets/GitHub-Mark-Light-32px.png" /></a>
</div>
<div class="help" *ngIf="isHelpDisplayed">
  <p>* Left mouse click and drag for rotation around the target</p>
  <p>* Right mouse click and drag for translation around the target</p>
  <p>* Mouse wheel for zooming/dezooming from target</p>
  <p>* Left mouse single click on a star to navigate</p>
  <p class="close"><a (click)="displayHelp(false)">Close this help</a></p>
</div>
