.filled {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(50, 50, 50, 0.8);
  margin: 0;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-bottom: none;
}

.content {
  padding: 10px;
  background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0.8));
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-bottom: none;
  border-top: none;
  font-size: 12px;
  height: calc(100% - 60px);
}

.footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 10px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-top: none;
}
