<app-card icon="file-text" title="{{ 'MENU.TOOLTIP' | translate }}">
  <div class="overflow" *ngIf="model.lastObjectProperties">
    <p class="property" *ngFor="let prop of model.selectedCatalog.properties">
      <span class="key" title="{{ prop.tooltip | translate }}">{{
        prop.key
      }}</span
      >:
      <span class="value">
        {{ getValue(model.lastObjectProperties, prop) }}
      </span>
      <span class="url" *ngIf="prop.key === 'id'">
        <a
          target="_blank"
          title="{{ 'TOOLTIP.HYGMAP' | translate }}"
          href="{{ getHygMapUrl(getValue(model.lastObjectProperties, prop)) }}"
          ><i class="bi bi-box-arrow-up-right"></i></a
      ></span>
    </p>
  </div>
</app-card>
