/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.content {
  height: 440px;
  overflow-y: auto;

  .property {
    margin: 2px;
    padding: 3px;
    font-size: 12px;

    .key {
      display: inline-block;
      text-align: right;
      padding-right: 5px;
      cursor: pointer;
      width: 80px;
    }

    .value {
      padding-left: 2px;
      flex: 3;
    }

    .url {
      a {
        color: white;

        &:hover {
          color: white;
        }
      }
    }
  }
}
