<div class="position">
  <p>Target distance : {{distanceToTarget}} parsecs</p>
  <hr>
  <p>Target coordinates</p>
  <form [formGroup]="positionForm">
    <label>x:</label>
    <input type="text" formControlName="x"><br>
    <label>y:</label>
    <input type="text" formControlName="y"><br>
    <label>z:</label>
    <input type="text" formControlName="z"><br>
  </form>
  <hr>
  <form [formGroup]="starForm">
    <legend>Set the id of the star you want to see</legend>
    <label>Id:</label>
    <input type="text" formControlName="id"><br>
  </form>
  <hr>
</div>
